@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}
.p-l-div::-webkit-scrollbar {
  display: none;
}
.category::-webkit-scrollbar {
  display: none;
}
/* .search-div::-webkit-scrollbar {
  display: none;
} */

.arrow-box::before {
  content: "";
  position: absolute;
  top: -9px; /* Adjust this value based on your design */
  left: 50%;
  margin-left: -5px; /* Half of the arrow width */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent; /* Set the arrow color */
}

/* .animate {
  
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
} */
